<!-- post-container -->
<div class="post-container">
  <% if (!singleNews) { %>
  <h2>Article not found.</h2>
  <% } else { %>
  <div class="post-content single-post">
    <h3><%= singleNews.title %></h3>
    <div class="post-information">
      <span>
        <i class="fa fa-tags" aria-hidden="true"></i>
        <a href="/category/<%= singleNews.category.slug %>">
          <%= singleNews.category.name %>
        </a>
      </span>
      <span>
        <i class="fa fa-user" aria-hidden="true"></i>
        <a href="/author/<%= singleNews.author._id %>">
          <%= singleNews.author.fullname %>
        </a>
      </span>
      <span>
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <%= new Date(singleNews.createdAt).toLocaleDateString("en-GB", { day:
        "2-digit", month: "short", year: "numeric" }) %>
      </span>
    </div>
    <img
      class="single-feature-image"
      src="/uploads/<%= singleNews.image %>"
      alt="<%= singleNews.title %>"
      style="max-width: 100%; height: auto; border-radius: 5px"
    />

    <p class="description"><%- singleNews.content %></p>
  </div>
  <% } %>
</div>
<!-- /post-container -->
